{% extends 'base.html' %}
{% block content %}

<div ng-controller="customerController" data-ng-init="">

      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
         <md-tab id="tab1" label="Manage Customer" ng-click="GetCustomerList()">
             {% include "customer/customerList.html" %}
         </md-tab>
         <md-tab id="tab2" label="// FormCaption //" ng-click="">
             {% include "customer/addUpdCustomer.html" %}
         </md-tab>
      </md-tabs>

</div>

{% endblock %}
