 <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">

<!--            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>-->
            <md-content layout-padding ng-controller="LeftCtrl">

                <div ng-controller="menuController">

                    <md-list style="height:1px">
                        <md-list-item class="md--line" ng-repeat="item in Menu" >
                            <!--<img ng-src="{{item.face}}" alt="{{item.who}}" class="md-avatar">-->
                            <div class="md-list-item-text">
                                <span ng-click="goto(item.Link)">//item.MenuItem//</span>
                            </div>
                            <md-divider inset></md-divider>
                        </md-list-item>
                    </md-list>

                </div>

            </md-content>

        </md-sidenav>