{% extends 'base.html' %}
{% block content %}

<div ng-controller="ordermgmtController" data-ng-init="init_order_management()">

      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
         <md-tab id="tab1" label="New Order" ng-click="init_order_management()">
             {% include "manageorder/newOrder.html" %}
         </md-tab>
         <md-tab id="tab2" label="Order List" ng-click="get_order_list()">
             {% include "manageorder/orderList.html" %}
         </md-tab>
      </md-tabs>

</div>

{% endblock %}
