<div style="visibility: hidden">
<div class="md-dialog-container" id="AddInvoiceDetails" >
    <md-dialog aria-label="Additional Details" layout-padding>
        <md-dialog-content>
             <div layout-gt-xs="row">
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.PaymentTerms"
                                               placeholder="Payment Terms">
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm>
                                           <input ng-model="ManageInvoice.FreightTerms"
                                               placeholder="Freight Terms">

                                    </md-input-container>
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.DeliveryTerms"
                                               placeholder="Delivery Terms">
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.Transporter"
                                               placeholder="Transporter">
                                    </md-input-container>
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.TransporterMode"
                                               placeholder="Transporter Mode">
                                    </md-input-container>
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.ESugamaNo"
                                               placeholder="E-Way Bill No.">
                                    </md-input-container>
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.Destination"
                                               placeholder="Destination">
                                    </md-input-container>
                                </div>
                                <div layout-gt-xs="row">
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.NoOfPacks"
                                               placeholder="No of Packs">
                                    </md-input-container>
                                    <md-input-container>
                                        <input ng-model="ManageInvoice.lrnoAndDate"
                                               placeholder="LR No.">
                                    </md-input-container>
                                    <md-input-container>
                                    <input ng-model="ManageInvoice.Grossweight"
                                               placeholder="Gross Weight">
                                    </md-input-container>
                                </div>
        </md-dialog-content>
</md-dialog>
</div>
</div>
